/*Variables*/
$base: aliceblue;
$basefont: oblique, sans-serif, 1em;
$baseLmargin: 50px;
$basepad: 10px;

@mixin rounded($radius: 7px){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

/*end variables*/
/* Quiz styles */

header {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $basepad;
    background-color: $base;
    text-align: center;
}

body {
    width: 600px;
    margin: auto;
    font-family:$basefont;
    background-color: $base;
}


h1 {
    color:#58a0e0;
}

#content {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $basepad;
    background-color: $base;
}

#list{
    border: 2px solid #064277;
    border-radius: 20px;
    background-color: $base;
}

h2 {
    color: #064277;
}

h3 {
    margin-left: $baseLmargin 50px;
    color:#58a0e0;
    
    font:{
        family: serif;
        size:8em;
        weight: bold;
        }
}

ul{
    margin-left: $baseLmargin;
}

p{
    font-family: $basefont;
}

.samplepara {
    border: 3px solid #58a0e0;
    border-radius: 5px;
    padding: $basepad;
    background-color: $base;
}

footer {
    border: 2px solid #064277;
    border-radius: 20px;
    margin: 10px auto;
    padding: $basepad;
    background-color: $base;
}

#footer {
    font-size: .75em;
    font-style:italic;
    font-weight: bold;
    color: #064277;
    text-align: center;
}


